.sidebar{
   
    flex:1;
    .top{
        padding-top: 0px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .logo{
            
            font-weight: bold;
            color: #6439ff;
            background-color: #333;
            height: 50px;
            width: 50px;
            border-radius: 50%;
           
            .patsitech{
                border-radius: 50%;
                color: green;
            }
        }
    }
    hr{
        border:0.5px solid rgb(230, 227, 227);
    }
    border-right:0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;
    .center{
        padding-left: 10px;
        ul{
            li{
                list-style: none;
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color: #ece8ff;
                }

                .icon{
                    font-size: 18px;
                    color:#7451f8;
                }
                span{
                  font-size: 13px;
                  font-weight: 600px;
                  color: #888;
                  margin-left: 10px;

                }
            }
            padding: 0;
            margin: 0;

            .title{
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOPtion{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border:1px solid #7451f8;
            margin: 5px;

            &:nth-child(1){
                background-color: white;
            }
            &:nth-child(2){
                background-color: #333;
            }
            
        }
    }
}
  